<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="SQL" connectionString="Data Source=193.169.44.63;Initial Catalog=tax-177_nalog;Persist Security Info=True;User ID=ias;Password=oMXM0wOJ"/>
    <add name ="OLEDB_ACC" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=O:\\Образование\\Разработки\\Программа\\ИАС Налог\\БД\\IAS_Nalog.accdb;Jet OLEDB:Database Password=Mxy7KzVCLYF7Xb4C"/>
    <add name ="OLEDB_MDB" connectionString="Microsoft.Jet.OLEDB.4.0;Data Source=O:\\Образование\\Разработки\\Программа\\ИАС Налог\\БД\\IAS_Nalog.mdb;Jet OLEDB:Database Password=Mxy7KzVCLYF7Xb4C"/>
  </connectionStrings>
  <appSettings>
    <add key="MasterKey" value="18bba7c880bb8a292e029594b950c474e825ed43f6a57b47c60ce9324e4fa5ba"/>
    <add key="NameConnectionString" value="SQL"/>
  </appSettings>
</configuration>